<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method ="post">
            {% csrf_token %} {{form.as_p}}
            <input
            type="submit"
            name="name"
            />
        </form>

    </body>
</html>