<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <a href="{% url 'todoitem_update' todoitem.pk %}">Edit</a>
        <a href="{% url 'todoitem_delete' todoitem.pk %}">Delete</a>
    </body>
</html>