<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>My lists</h1>
        <a href="{% url 'todolist_create' %}">Create a new list</a>
        <a href="{% url 'todoitem_create' %}">Create a new item</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todolist_list %} 
                <tr>
                    <td>   </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>